# Postgres installation & data
pgsql/
pgdata/
data/
backups/
postgrest/
nginx/logs/
nginx/temp/

# Python
local-api/venv/
__pycache__/
*.pyc

# Logs & temp
logs/
*.log
*.tmp
*.bak
.pgpw.tmp

# Secrets
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
